#action-bar-custom {
	color: white;
	padding-top: 26;
    margin-left:-30px;
	padding-bottom: 16;
}
#action-bar-label {
	font-size: 21;
	font-weight: bold;
}
#action-bar-menu-image {
	vertical-align: central;
   
}

#Cont {
	padding-left: 16;
	padding-right: 16;
    margin-top:80px;
}
#drawer-content {
	background-color: #311217;
	color: white;
    height:500px;
}
.drawer-content-label {
	margin: 16;
	font-weight: bold;
}
.labe {
    font:18px;
    margin-bottom:4px;
}



#form-controls

{
      margin-top:250px;
}



#Cont1 {
	padding-left: 16;
	padding-right: 16;
    margin-top:220px;
}